@mixin flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@mixin flex-center {
    @include flex;
    justify-content: center;
    align-items: center;
}


@mixin box-shadow {
    -webkit-box-shadow: 0 4px 12px rgb(0 0 0 / 8%);
    box-shadow: 0 4px 12px rgb(0 0 0 / 8%);
}

@mixin flex-align-center {
    @include flex;
    align-items: center;
}

@mixin flex-center-between {
    @include flex;
    align-items: center;
    justify-content: space-between;
}

@mixin transition() {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}