.info-page-wrapper {
    height: 100%;
    position: relative;
    margin: 0 auto;
}
.info-section-height {
    height: 80vh;
}
.info-route {
    border-right: 1px solid red;
    margin-left: auto;
    height: 350px;

    &-item {
        display: block;
        margin: 2px 10px;
        text-decoration: none;
        cursor: pointer;
        position: relative;
        text-align: right;
        width: max-content;
        margin-left: auto;
        padding: 0 5px;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: $primary;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }
        &.active,
        &:hover {
            &::after {
                content: '';
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
    }
}

/***** studio section *****/
.studio-item {
    // box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

    &-image {
        filter: grayscale(100%);
        transition: filter 0.5s;
    }
    &-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2px;
        padding: 7px 0;

        .name {
            font-weight: 400;
            font-size: 15px;
            margin-bottom: 0;
            color: black;
        }
    }
    &:hover {
        .studio-item-image {
            filter: grayscale(0%);
        }
    }
}

.social-icons {
    display: flex;
    gap: 8px;
    margin-top: 4px;
    padding-bottom: 3px;
    &-item {
        height: 20px;
        width: 20px;
        border: 1px solid black;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
    }
}

/*** Info Sections ***/
.info-section {
    &.scroll {
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 5px;

        &::-webkit-scrollbar {
            width: 3px;
            height: 3px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: red;
            border-radius: 20px;
        }
        &::-webkit-scrollbar-track {
            background: lightgray;
        }
    }
}
.info-contact {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .contact-footer {
        margin-top: auto;
    }
}

#myMenu {
    position: absolute;
    left: 0;
    top: 78px;
    width: 90px;
    z-index: 100;
    list-style: none;
    height: 50%;
    text-align: right;
    padding-right: 10px;

    &::after {
        content: '';
        background: red;
        height: 100%;
        width: 1px;
        position: absolute;
        top: 7px;
        right: 0;
    }

    li {
        a {
            font-weight: 400;
            font-size: 15px;
            text-decoration: none;
        }
        &.active {
            a {
                color: red;
                // text-decoration: underline;
                transition: all 0.2s ease-in;
            }
        }
    }
}

/*** Shop Item ***/
.shop-item {
    .see-more {
        cursor: pointer;
        color: $primary;
        &:hover {
            text-decoration: underline;
        }
    }
}

/*** News Item ***/
.news-item {
    margin-bottom: 3rem;
    &:last-child {
        margin-bottom: 0;
    }
}

/*** Jobs ****/
.jobs {
    &-description {
        line-height: 15px;
    }
}
.award-item {
    display: flex;
    gap: 4px 8px;
    margin-bottom: 8px;
    flex-wrap: wrap;
}

/******** Responsive ********/
@media (max-width: 991.98px) {
    #myMenu {
        display: none;
    }
    .award-item {
        gap: 0px 8px;
        margin-bottom: 16px;
    }
}
@media (max-width: 767.98px) {
    .full-height {
        height: 100vh;
    }

    // .info-section-height {
    //     height: 100vh;
    // }
    // .info-about-overwrite {
    //     height: 100vh;
    // }
    .contact-footer {
        .footer {
            padding-top: 25px;
        }
    }
}

@media (max-width: 575.98px) {
    .award-item {
        margin-bottom: 20px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .award-item {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .info-page-wrapper {
        max-width: 100%;
    }
}

@media (min-width: 1200px) and (max-width: 1399.9px) {
    .info-page-wrapper {
        max-width: 100%;
    }
}
@media (min-width: 1400px) {
    .info-page-wrapper {
        max-width: 1500px;
    }
}
