.projects {
    overflow-y: auto;
    overflow-x: hidden !important;
    height: 65vh;
    padding-right: 5px;

    &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: red;
        border-radius: 20px;
    }
    &::-webkit-scrollbar-track {
        background: lightgray;
    }
}
.project-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    &-overlay {
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        position: absolute;
        width: 94%;
        bottom: 0;
        padding: 10px;
        opacity: 0;
        height: 0;
        transition: 0.5s height linear, 0.5s opacity linear;
        overflow: hidden;
        h6 {
            margin-bottom: 4px;
        }
    }
    &:hover {
        .project-item-overlay {
            padding: 10px;
            height: 75px;
            opacity: 1;
        }
    }
}

.project-filter {
    padding: 25px 0;
    font-weight: 400;
    padding-left: 0;
    list-style: none;
    .filter-item {
        font-size: 14px;
        cursor: pointer;

        &.active {
            color: red;
        }
    }
}

/*** project search ***/
.search-section {
    min-height: calc(100vh - 75px);

    .project-search {
        padding-top: 35px;
        @include flex-center;
        .search-wrapper {
            width: 65%;
        }
    }
    .search-result {
        padding-top: 40px;
    }
}

/***** Project Status *****/
.project-status {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .status-item {
        min-width: 200px;
        height: 60vh;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        max-width: 25%;

        .status-project {
            padding: 10px;
            display: flex;
            gap: 5px;
            flex-wrap: wrap-reverse;
            &-item {
                height: 70px;
                width: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                &-img {
                    transition: all 0.5s linear;
                    &:hover {
                        transform: scale(1.5);
                    }
                }
            }
        }
    }
    .status-title {
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 10px;
        border-top: 1px solid #889;
        text-align: center;
    }
}
