.projects {
    overflow-y: auto;
    overflow-x: hidden !important;
    height: 70vh;
    padding-right: 5px;
}

.project-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    &-overlay {
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        position: absolute;
        width: 94%;
        bottom: 0;
        padding: 10px;
        opacity: 0;
        height: 0;
        transition: 0.5s height linear, 0.5s opacity linear;
        overflow: hidden;
        h6 {
            margin-bottom: 4px;
        }
    }
    &:hover {
        .project-item-overlay {
            padding: 10px;
            height: 75px;
            opacity: 1;
        }
    }
}

.project-filter {
    padding: 20px 0;
    font-weight: 400;
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    .filter-item {
        font-size: 14px;
        cursor: pointer;

        &.active {
            color: red;
        }
    }
}

/*** project search ***/
.search-section {
    min-height: calc(100vh - 75px);

    .project-search {
        padding-top: 35px;
        @include flex-center;
        .search-wrapper {
            width: 65%;
        }
    }
    .search-result {
        padding-top: 40px;
    }
}

/***** Project Status *****/
.project-status {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 100%;

    .status-item {
        min-width: 200px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        max-width: 20%;
        height: 100%;
        margin: 0 auto;
    }
}
.status-title {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
}

.status-project {
    padding: 10px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap-reverse;
}
.status-project-item {
    height: 70px;
    width: 60px;
    transition: all 0.4s linear;

    &-img {
        transition: all 0.5s linear;
    }
    span {
        display: none;
    }
    &:hover {
        cursor: pointer;
        position: relative;

        span {
            position: absolute;
            z-index: 100;
            top: 50%;
            display: block;
            padding: 3px;
            background: #212529;
            color: #fff;
            font-size: 10px;
            border-radius: 2px;
            font-weight: 400;
            text-decoration: none;
            min-width: 135px;
            text-align: center;
        }

        .status-project-item-img {
            transform: scale(2);
        }
    }
}

.grids {
    // background-color: lightblue;
    min-width: 100%;
    display: flex;
    gap: 40px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-evenly;
}
.grids-item {
    // background-color: salmon;
}

.grids-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    height: 500px;
    gap: 5px;
    margin: 0 auto;

    // animation: overflow-x-hidden 1s linear;
}
.grids-list-item {
    // background-color: salmon;
}
.grids-list-item-link {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    transition: all 0.4s ease-in-out;
    position: relative;

    &-title {
        position: absolute;
        z-index: 100;
        display: block;
        height: 20px;
        padding: 3px;
        background: #212529;
        color: #fff;
        font-size: 10px;
        border-radius: 2px;
        font-weight: 400;
        text-decoration: none;
        min-width: 135px;
        text-align: center;
        transform: scale(0.6);
        display: none;
        bottom: -10%;
    }

    &:hover {
        .grids-list-item-link-title {
            transform: scale(0.6);
            display: block;
            left: -30%;
        }

        text-decoration: none;
        transform: scale(1.7);
        z-index: 333;
        position: relative;
        img {
            transform: scale(1.2);
        }
    }
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery-image {
    cursor: zoom-in;
}

.index-number {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 99900000;
    color: #000;
}
.cursor-zoom {
    cursor: zoom-in;
}
