.swiper {
    width: 100%;
    height: 100%;
    .swiper-wrapper {
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            @include flex-center;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
.slider-height {
    height: 100%;
}
