.fs-sm {
    font-size: 12px !important;
}
.section {
    padding-top: 125px;
    // height: calc(100vh - 100px);
    height: 550px;
    margin-bottom: 100px;
}

.line-height-27 {
    line-height: 27px;
}

.form-signin {
    @include flex-center;
    min-height: 100vh;
    .login-form {
        width: 300px;
    }
}
