.section-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    // overflow: hidden;
}
.about-section,
.project-section {
    > .container {
        margin-top: -70px;
    }
}
.contact-container {
    margin-top: -70px;
}
.pt-30 {
    padding-top: 30px;
}
.fs-12 {
    font-size: 12px !important;
}
.slider-section {
    display: block !important;
}
.contact-section {
    padding-top: 100px;
}
.fs-sm {
    font-size: 12px !important;
}

.line-height-27 {
    line-height: 27px;
}
.form-label {
    font-weight: 400;
}
.h-150 {
    height: 150px;
}

.form-signin {
    @include flex-center;
    min-height: 100vh;
    .login-form {
        width: 300px;
    }
}
.ReactModal__Overlay {
    background-color: rgba($color: #000000, $alpha: 0.7) !important;
    z-index: 3333;
}
/*** Title ***/
.title-wrapper {
    margin-bottom: 40px;
    text-align: center;
    .title {
        color: black;
        position: relative;
        padding-bottom: 8px;
        margin-bottom: 0;
        font-weight: 400;
        font-size: 18px;
        &::before {
            content: '';
            width: 250px;
            height: 1px;
            background: #00000036;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
        &::after {
            content: '';
            width: 60px;
            height: 2px;
            background: #00000099;
            position: absolute;
            bottom: 0;
            left: calc(50% - 30px);
        }
    }
}

/*** From Tailwind css classes***/
.ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.duration-700 {
    transition-duration: 700ms;
}
.grayscale {
    --tw-grayscale: grayscale(100%);
    filter: blur(40px) var(--tw-grayscale);
}
.grayscale-0 {
    --tw-grayscale: grayscale(0);
    filter: blur(0) var(--tw-grayscale);
}
.scale-110 {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.scale-100 {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.spinner-style {
    font-size: 12px;
    width: 20px;
    height: 20px;
}
/*** Responsive ***/

@media (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.9px) {
}
@media (min-width: 1400px) {
    .container {
        max-width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
}
