.form-control,
.btn {
    &:focus {
        border-color: black;
        box-shadow: none !important;
    }
}
.form-control {
    border: 1px solid #000;
}

/*** full page scroll ***/
.fp-table {
    display: block !important;
}

.custom-section {
    padding-top: calc(70px + 50px);
}
