p {
    margin-bottom: 4px;
}
.form-control,
.btn {
    &:focus {
        border-color: black;
        box-shadow: none !important;
    }
}
.form-control {
    border: 1px solid #000;
}

/*** full page scroll ***/

.fp-table {
    display: block !important;
}
.d-flex {
    display: flex !important;
}

.custom-section {
    padding-top: calc(60px + 25px);
}

.about-section-overwrite {
    padding-top: 60px !important;
    display: flex !important;
    height: 100%;
}
.contact-section-overwrite {
    padding-top: 60px !important;
    display: flex !important;
}
.info-about-overwrite {
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.swiper-wrapper {
    margin-top: 70px !important;
}
.fp-watermark {
    display: none !important;
    height: 0;
    visibility: hidden !important;
    opacity: 0 !important;
}
.award-info-section {
    padding-top: 78px;
}
.ReactModal__Overlay--after-open {
    z-index: 101 !important;
    background-color: rgb(31 31 31 / 75%) !important;
}

.ck-editor__editable,
.ck-toolbar {
    border: 1px solid #000 !important;
}
.ck-toolbar {
    border-bottom: none !important;
}
.ck-editor__editable {
    min-height: 150px;
    line-height: 15px;
    p {
        margin-bottom: 8px;
    }
}
/** table modified **/
.modified-table {
    thead,
    tbody {
        tr {
            th,
            td {
                min-width: 80px;
            }
        }
    }
}
/** OverWrite Image **/
.top-image-wrapper {
    min-height: calc(100vh - 70px);
}
.top-image-height-control {
    height: calc(100vh - 70px - 20vh);
}
.top-img-overwrite {
    height: calc(100vh - 70px - 20vh);
    > span {
        width: 100% !important;
        height: 100% !important;
    }
}
.portrait-wrapper {
    height: calc(100vh - 70px);
    width: 100%;
    // background-color: slateblue;
    display: flex;
    align-items: center;
}

.video-player-controller {
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-height-control {
    height: calc(100vh - 70px);
    // background-color: cadetblue;÷
    // border-bottom: 5px solid #000;
    display: flex;
    align-items: center;

    .image-overwrite {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        > span {
            width: 100% !important;
            height: 90% !important;
        }
    }
}
.image-testing {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.apply-modal {
    .user-form {
        width: 450px;

        .input-group {
            textarea {
                max-height: 250px;
            }
        }
    }
}

/******** Responsive ********/
@media (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.9px) {
}
@media (min-width: 1400px) {
}
