*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    font-weight: 300;
    font-size: 14px;
    height: 100%;
}

a,
a:hover {
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin-bottom: 0px;
}

.title {
    margin: 20px auto 0;
    text-align: center;
}

// ::-webkit-scrollbar {
//     display: none;
// }
// ::-webkit-scrollbar-thumb {
//     display: none;
// }
// ::-webkit-scrollbar-track {
//     display: none;
// }
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    display: block;
}
::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 20px;
}
::-webkit-scrollbar-track {
    background: lightgray;
}
