@import './variable';
@import './mixin';
@import './global';
@import './reset';
@import './overwrite';

@import './layouts/layouts';

.element {
    height: 1000px;
    border-top: 1px solid #000;
    padding-top: 55px;
    padding-left: 10px;
}

.element.no-padding {
    padding-top: 0;
}

/******** Responsive ********/
@media (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.9px) {
}
@media (min-width: 1400px) {
}

.testing {
    overflow-y: scroll;
    height: 100%;
    outline: 0;
    justify-content: flex-start;
}
